html {
    box-sizing: border-box;
}
 *, *:before, *:after {
     box-align: inherit;
}

.body-style {
    margin: 20px;
    width: 90%;
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

.audio-style {
    display: block;
    margin: 20px 0;
}
